<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CMakeLists -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.spf.CMakeLists.presentation.CMakeListsModelWizardID"
            name="%_UI_CMakeListsModelWizard_label"
            class="org.spf.CMakeLists.presentation.CMakeListsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CMakeListsModelFile.gif">
         <description>%_UI_CMakeListsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated CMakeLists -->
      <editor
            id="org.spf.CMakeLists.presentation.CMakeListsEditorID"
            name="%_UI_CMakeListsEditor_label"
            icon="icons/full/obj16/CMakeListsModelFile.gif"
            extensions="cmakelists"
            class="org.spf.CMakeLists.presentation.CMakeListsEditor"
            contributorClass="org.spf.CMakeLists.presentation.CMakeListsActionBarContributor">
      </editor>
   </extension>

</plugin>
