<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CMakeLists -->
      <package
            uri="http://spf.org/cmakelists"
            class="org.spf.CMakeLists.CMakeListsPackage"
            genModel="model/CMakeLists.genmodel"/>
   </extension>

</plugin>
