<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated LaunchFile -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.spf.LaunchFile.presentation.LaunchFileModelWizardID"
            name="%_UI_LaunchFileModelWizard_label"
            class="org.spf.LaunchFile.presentation.LaunchFileModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LaunchFileModelFile.gif">
         <description>%_UI_LaunchFileModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated LaunchFile -->
      <editor
            id="org.spf.LaunchFile.presentation.LaunchFileEditorID"
            name="%_UI_LaunchFileEditor_label"
            icon="icons/full/obj16/LaunchFileModelFile.gif"
            extensions="launchfile"
            class="org.spf.LaunchFile.presentation.LaunchFileEditor"
            contributorClass="org.spf.LaunchFile.presentation.LaunchFileActionBarContributor">
      </editor>
   </extension>

</plugin>
